body {
    margin: 0;
    overflow: hidden;
    touch-action: none; /* Prevents pinch/scroll on iPhone */
}
#gameCanvas {
    width: 100vw;
    height: 100vh;
}
.joystick {
    position: absolute;
    width: 120px; /* Bigger for easier touch */
    height: 120px;
    bottom: 30px;
    z-index: 10;
}
#joystickLeft {
    left: 20px;
}
#joystickRight {
    right: 20px;
}
@media (min-width: 768px) {
    .joystick {
        display: none; /* Hide on laptops */
    }
}
