body {
    margin: 0;
    overflow: hidden;
    touch-action: none;
}
#gameCanvas {
    width: 100vw;
    height: 100vh;
}
.joystick {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 20px;
    z-index: 10;
}
#joystickLeft {
    left: 20px;
}
#joystickRight {
    right: 20px;
}
@media (min-width: 768px) {
    .joystick {
        display: none;
    }
}
